@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'carousel-styles';
@import 'loader';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 90%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;

    color-scheme: light dark;
    color: rgb(255 255 255 / 87%);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  src: url('../assets/fonts/MabryPro-Light.woff2') format('woff2');
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    width: 100vw;
    overflow-x: hidden;
    font-family: 'Comic Neue', fallback, sans-serif;
  }
}

@keyframes fast-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.browser-icon,
.windows-icon {
  width: 1.2rem;
}

.windows-icon path {
  fill: rgb(0 128 255);
}

.game-link {
  position: relative;
  overflow: hidden;
}

.game-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgb(0 0 0 / 70%);
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  border-radius: 0 0 6px 6px;
}

.game-link:hover .game-title {
  transform: translateY(0);
}

.genre-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-block: 0.3rem;
  padding-inline: 0.8rem;
  border-radius: 0.6rem;
  width: max-content;
  font-size: 0.9rem;
  margin-block: 0.5rem;
  background-color: rgb(128 128 128 / 10%);
  border: 1px solid gray;
}

.youtube path,
.facebook path,
.github path,
.twitter path {
  fill: rgb(75 75 75);
  transition: fill 0.2s ease-in-out;
}

.sign-in path {
  fill: rgb(255 255 255);
}

.cup-icon path {
  fill: rgb(0 0 0);
}

.apple-icon path {
  fill: rgb(0 0 0);
}

.dark .apple-icon path {
  fill: rgb(255 255 255);
}

.dark .cup-icon path {
  fill: rgb(255 255 255);
}

.youtube:hover path {
  fill: rgb(255 0 0);
}

.twitter:hover path {
  fill: rgb(0 162 255);
}

.facebook:hover path {
  fill: rgb(6 0 97);
}

.github:hover path {
  fill: rgb(0 0 0);
}

.dark .github:hover path {
  fill: rgb(255 255 255);
}

.jumbotron-image {
  position: relative;
  width: 100vw;
}

.jumbotron-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/games.webp');
  filter: blur(3px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-img {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

::selection {
  color: beige;
  background-color: black;
}

.dark ::selection {
  color: black;
  background-color: beige;
}

.cursor-pointer {
  position: relative;
}

.cursor-pointer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: chartreuse;
}

.cursor-pointer:hover::after,
.cursor-pointer.side-stripe::after {
  width: 4px;
}

.cursor-pointer:hover::after {
  width: 4px;
  background-color: rgb(26 129 79);
}

.cursor-pointer.side-stripe::after {
  width: 4px;
  background-color: rgb(251 255 1);
}
